pandas
geopandas
matplotlib
shapely
numpy
pyarrow # For reading parquet files
seaborn # Added for heatmaps
dask>=2023.3.0
distributed>=2023.3.0
bokeh>=2.4.0  # For Dask dashboard
dask-cuda>=23.12.0  # For GPU acceleration with Dask
tqdm # For progress bars
rtree # For spatial indexing in geopandas 